DATABASE_URL=postgresql://postgres:ltawZCoGTmpHntClMrytkXsYKyCgLoff@shortline.proxy.rlwy.net:43636/railway
ADMIN_KEY=pancacho123
TIKTOK_USER=sticx33
ALLOWED_ORIGINS=https://tiklive-63mk.onrender.com,https://tiklive-git-main-pancachogods-projects.vercel.app,https://tiklive-blue.vercel.app,https://tiklive-production.up.railway.app,https://keen-optimism-production.up.railway.app

